@import "../../common/colirs.scss";

.card-item {
	background-color: $second-color;
	cursor: pointer;
	transition: all 0.3s;
	min-height: 450px;
	height: 100%;
	margin: 10px;

	&:hover {
		transform: scale(1.05);
		transition: all 0.3s;
	}
}
.card-top {
	height: 300px;

	img {
		width: 100%;
		height: 100%;
	}
}
.card-info {
	color: #fff;
	h4 {
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 10px;
	}
}
.card-bottom {
	padding: 20px;
}
