@import "../../common/colirs.scss";

.header {
	background-color: $second-color;
	height: 72px;
	padding: 0 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	color: $font-primary;
	font-size: 20px;
	font-weight: 600;
}
