@import "../src/common/colirs.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none;
}
body {
	background-color: $primary-color;
}
.container {
	margin: 0 40px;
}
